$darkblue: #0B0F5E;
$greenblue: #127F64;
$lightblue: rgb(51,91,118);
//$darkred:#B22E1A;
$orange:rgb(163,68,39);
$darkred:rgb(116,38,46);
$yellow:#FFDA48;

@font-face {
	font-family: roboto;
	src: url(../fonts/roboto/Roboto-Medium.ttf);
	font-weight: bold;
}
@font-face {
	font-family: roboto;
	src: url(../fonts/roboto/Roboto-Regular.ttf);
}
@font-face {
	font-family: roboto;
	src: url(../fonts/roboto/Roboto-Light.ttf);
	font-weight: lighter;
}

body {
	font-family:roboto, sans-serif;
	font-size: '18px';
	overflow-x:hidden;

	h1 {
		font-size: 48px;
	}

	a {
		text-decoration: none;
		color:$darkblue;
	}
}


.full-browser-height {
	min-height: 50vh;
}

#header {
	background: $lightblue; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, $lightblue, $orange); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, $lightblue, $orange); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, $lightblue, $orange); /* For Firefox 3.6 to 15 */
	background: linear-gradient(130deg, $lightblue, $orange);
	color:white;
	position:relative;
	width:116%;
	padding:10% 20% 15%;
	left:-5.5%;

	p {
		font-size: 18px;
	}
	a {
		color: $yellow;
	}

	.profile-pic {
		width:17%;
		background-size: contain;
		background-repeat:no-repeat;
		background-position: bottom;
		background-image: url("../img/sharon.png");
		height:100vh;
		max-width:484px;
		display:block;
		position:absolute;
		bottom:0;
		left:60%;
	}
	@media screen and (max-width: 768px) { 
		.profile-pic{
			width:0%;
		}
	}
	@media screen and (min-width: 768px) and (max-width: 1200px) { 
		.profile-pic{
			left:65%;
			width:22%;
		}
	}
}



.rotate-left {
	transform: rotate(-2deg);
}
.rotate-right {
	transform: rotate(2deg);
}
.space {
	height: 40px;
}
.clear {
	clear:both;
	margin-top:20px;
}

#portfolio {
	clear:both;
	background-color: white;
	margin-top:-40px;
	position: relative;
	width:116%;
	left:-8%;

	#portfolio-inside {
		padding: 5% 20% 10%;

		h1 {
			margin-bottom:50px;
		}
		p {
			font-size: 18px;
			float:left;
			margin:5px 40px 10px 0;
		}
	}

	.my-work {
		width:250px;
		float:left;
		margin:5px 30px 15px 0;
	}
	.my-work:hover {
		transform:scale(1.01,1.01);
	}

}
.button {
	width: 200px;
	float: right;
	border: $greenblue 2px solid;
	border-radius: 15px;
	padding: 5px 10px;
	margin:15px 0;
	color: $greenblue;
	display:block;
	text-align: center;
	text-decoration: none;
}
.button:hover {
	border: black 2px solid;
	color: black;
	transform: scale(1.1,1.1);
	text-decoration:none;
}

#my-skills {
	clear:both;
	background: $greenblue; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, $greenblue, $darkblue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, $greenblue, $darkblue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, $greenblue, $darkblue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(130deg, $greenblue, $darkblue);
	color:white;
	margin-top:-40px;
	position: relative;
	width:116%;
	left:-8%;

	#my-skills-inside {
		padding: 5% 20% 10%;

		h1 {
			margin-bottom:50px;
		}
		ul {
			padding-left:0;
			margin-left:0;
		}
		li {
			list-style-type: none;
			font-size: 21px;
		}
		.small-text {
			font-size: 14px;
			margin:0;
		}
	}
}

#experience {
	clear:both;
	background-color: white;
	margin-top:-80px;
	position: relative;
	width:116%;
	left:-8%;

	#experience-inside {
		padding: 5% 20% 10%;

		h1 {
			margin-bottom:50px;
		}
		ul {
			padding-left:0;
			margin-left:0;
		}
		li {
			color:black;
			list-style-type: none;
			font-size: 21px;
		}
		.small-text {
			font-size: 14px;
			margin:0;
		}
	}
}
@media only screen and (max-width: 768px) {
	#header {
		padding-bottom: 20%;
	}
	#portfolio {
		padding-bottom: 5%;
	}
	#my-skills {
		padding-bottom: 20%;
	}
	#experience {
		padding-bottom: 20%;
	}
	#contact {
		padding-bottom: 15%;
	}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
	#my-skills {
		padding-bottom: 10%;
	}
}

#contact {
	clear:both;
	background: $darkblue; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left top, $darkblue, $greenblue); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom right, $darkblue, $greenblue); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom right, $darkblue, $greenblue); /* For Firefox 3.6 to 15 */
	background: linear-gradient(130deg, $darkblue, $greenblue);
	color:white;
	margin-top:-80px;
	position: relative;
	width:110%;
	left:-5%;

	#contact-inside {
		padding: 5% 20% 10%;

		h1 {
			margin-bottom:50px;
		}
		p {
			font-size: 24px;
		}
		a {
			color: $yellow;
		}
	}
}

#footer {
	clear:both;
	background: white;
	margin:-50px 0 0;
	position: relative;
	width:110%;
	left:-5%;

	.row {
		padding: 2% 20% 2%;

		.pages {
			text-align: left;
		}
		.pages2 {
			text-align: right;
			float:right;
			width:100%;
		}

		a {
			color: black;
			font-size: 16px;
		}
		a:hover {
			color:$darkred;
		}
		p{
			margin: 0;
			font-size: 16px;
		}
	}
}
@media only screen and (max-width: 768px){
	#footer {
		.col-xs-6{
			text-align: left;
			min-height: 70px;
		}
	}
}




//SEPERATE PORTFOLIO ITEM
#oneitem {
	font-size: 18px;
	text-align: left;

	h3 {
		margin-top: 35px;
		color:$darkblue;
	}
	a {
		width: 200px;
		border: $greenblue 2px solid;
		border-radius: 15px;
		padding: 5px 10px;
		margin:10px 0;
		color: $greenblue;
		display:block;
		text-align: center;

	}
	a:hover {
		border: black 2px solid;
		color: black;
		transform: scale(1.1,1.1);
		text-decoration:none;
	}
	ul {
		margin-left:0;
		padding-left: 0;
	}
	li {
		list-style-type:none;
	}

	img {
		width:100%;
		border:$greenblue 2px solid;
		border-radius: 15px;
		margin:10px auto 20px;
	}
	p {
		margin: 20px auto 0;
	}

}

@media (min-width: 768px){
	#userInfo {
		.modal-dialog {
			width:800px!important;
		}
	}
}






// .overlay
// {
// 	position: absolute;
// 	top: 10%;
// 	left: 10%;
// 	right: 10%;
// 	bottom: 10%;
// 	background-color: rgba(255, 255, 255, 0.15);
// 	z-index: 9999;
// 	color: black;
// 	display: inline-block;
// }