@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Medium.ttf);
  font-weight: bold; }
@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Regular.ttf); }
@font-face {
  font-family: roboto;
  src: url(../fonts/roboto/Roboto-Light.ttf);
  font-weight: lighter; }
body {
  font-family: roboto, sans-serif;
  font-size: '18px';
  overflow-x: hidden; }
  body h1 {
    font-size: 48px; }
  body a {
    text-decoration: none;
    color: #0B0F5E; }

.full-browser-height {
  min-height: 50vh; }

#header {
  background: #335b76;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #335b76, #a34427);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #335b76, #a34427);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #335b76, #a34427);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(130deg, #335b76, #a34427);
  color: white;
  position: relative;
  width: 116%;
  padding: 10% 20% 15%;
  left: -5.5%; }
  #header p {
    font-size: 18px; }
  #header a {
    color: #FFDA48; }
  #header .profile-pic {
    width: 17%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    background-image: url("../img/sharon.png");
    height: 100vh;
    max-width: 484px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 60%; }
  @media screen and (max-width: 768px) {
    #header .profile-pic {
      width: 0%; } }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    #header .profile-pic {
      left: 65%;
      width: 22%; } }

.rotate-left {
  transform: rotate(-2deg); }

.rotate-right {
  transform: rotate(2deg); }

.space {
  height: 40px; }

.clear {
  clear: both;
  margin-top: 20px; }

#portfolio {
  clear: both;
  background-color: white;
  margin-top: -40px;
  position: relative;
  width: 116%;
  left: -8%; }
  #portfolio #portfolio-inside {
    padding: 5% 20% 10%; }
    #portfolio #portfolio-inside h1 {
      margin-bottom: 50px; }
    #portfolio #portfolio-inside p {
      font-size: 18px;
      float: left;
      margin: 5px 40px 10px 0; }
  #portfolio .my-work {
    width: 250px;
    float: left;
    margin: 5px 30px 15px 0; }
  #portfolio .my-work:hover {
    transform: scale(1.01, 1.01); }

.button {
  width: 200px;
  float: right;
  border: #127F64 2px solid;
  border-radius: 15px;
  padding: 5px 10px;
  margin: 15px 0;
  color: #127F64;
  display: block;
  text-align: center;
  text-decoration: none; }

.button:hover {
  border: black 2px solid;
  color: black;
  transform: scale(1.1, 1.1);
  text-decoration: none; }

#my-skills {
  clear: both;
  background: #127F64;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #127F64, #0B0F5E);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #127F64, #0B0F5E);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #127F64, #0B0F5E);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(130deg, #127F64, #0B0F5E);
  color: white;
  margin-top: -40px;
  position: relative;
  width: 116%;
  left: -8%; }
  #my-skills #my-skills-inside {
    padding: 5% 20% 10%; }
    #my-skills #my-skills-inside h1 {
      margin-bottom: 50px; }
    #my-skills #my-skills-inside ul {
      padding-left: 0;
      margin-left: 0; }
    #my-skills #my-skills-inside li {
      list-style-type: none;
      font-size: 21px; }
    #my-skills #my-skills-inside .small-text {
      font-size: 14px;
      margin: 0; }

#experience {
  clear: both;
  background-color: white;
  margin-top: -80px;
  position: relative;
  width: 116%;
  left: -8%; }
  #experience #experience-inside {
    padding: 5% 20% 10%; }
    #experience #experience-inside h1 {
      margin-bottom: 50px; }
    #experience #experience-inside ul {
      padding-left: 0;
      margin-left: 0; }
    #experience #experience-inside li {
      color: black;
      list-style-type: none;
      font-size: 21px; }
    #experience #experience-inside .small-text {
      font-size: 14px;
      margin: 0; }

@media only screen and (max-width: 768px) {
  #header {
    padding-bottom: 20%; }

  #portfolio {
    padding-bottom: 5%; }

  #my-skills {
    padding-bottom: 20%; }

  #experience {
    padding-bottom: 20%; }

  #contact {
    padding-bottom: 15%; } }
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #my-skills {
    padding-bottom: 10%; } }
#contact {
  clear: both;
  background: #0B0F5E;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, #0B0F5E, #127F64);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, #0B0F5E, #127F64);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, #0B0F5E, #127F64);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(130deg, #0B0F5E, #127F64);
  color: white;
  margin-top: -80px;
  position: relative;
  width: 110%;
  left: -5%; }
  #contact #contact-inside {
    padding: 5% 20% 10%; }
    #contact #contact-inside h1 {
      margin-bottom: 50px; }
    #contact #contact-inside p {
      font-size: 24px; }
    #contact #contact-inside a {
      color: #FFDA48; }

#footer {
  clear: both;
  background: white;
  margin: -50px 0 0;
  position: relative;
  width: 110%;
  left: -5%; }
  #footer .row {
    padding: 2% 20% 2%; }
    #footer .row .pages {
      text-align: left; }
    #footer .row .pages2 {
      text-align: right;
      float: right;
      width: 100%; }
    #footer .row a {
      color: black;
      font-size: 16px; }
    #footer .row a:hover {
      color: #74262e; }
    #footer .row p {
      margin: 0;
      font-size: 16px; }

@media only screen and (max-width: 768px) {
  #footer .col-xs-6 {
    text-align: left;
    min-height: 70px; } }
#oneitem {
  font-size: 18px;
  text-align: left; }
  #oneitem h3 {
    margin-top: 35px;
    color: #0B0F5E; }
  #oneitem a {
    width: 200px;
    border: #127F64 2px solid;
    border-radius: 15px;
    padding: 5px 10px;
    margin: 10px 0;
    color: #127F64;
    display: block;
    text-align: center; }
  #oneitem a:hover {
    border: black 2px solid;
    color: black;
    transform: scale(1.1, 1.1);
    text-decoration: none; }
  #oneitem ul {
    margin-left: 0;
    padding-left: 0; }
  #oneitem li {
    list-style-type: none; }
  #oneitem img {
    width: 100%;
    border: #127F64 2px solid;
    border-radius: 15px;
    margin: 10px auto 20px; }
  #oneitem p {
    margin: 20px auto 0; }

@media (min-width: 768px) {
  #userInfo .modal-dialog {
    width: 800px !important; } }

/*# sourceMappingURL=style.css.map */
